#hero {
	background: #80bfff;
}
#networks .snapchat:hover {
	color:#ffff00;
}
#networks .android:hover {
	color:#a4c639;
}
#networks .googleplus:hover{
	color: #ff0000;
}
#networks .github:hover{
	color: #000000;
}